{% extends "index.html" %} 

{% block title %}Portfolio{% endblock %}

{% block content %}
<section id="portfolio">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="https://mrcnamr6.apps.lair.io/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/comedy_review.png" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.cleverprogrammer.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/cleverprogrammer.png" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://PLNKEESLBLKYCABE.anvil.app/46HBFL66ZI5ASIT2A7MIATIB" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/todo.png" class="img-responsive" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://mrcnamr6.apps.lair.io/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/comedy_review.png" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://mrcnamr6.apps.lair.io/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/comedy_review.png" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://mrcnamr6.apps.lair.io/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/comedy_review.png" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://mrcnamr6.apps.lair.io/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/comedy_review.png" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
            </div>
        </div>
</section>
{% endblock%}
